body {
        background-image: url("wallpaper1.2.png");
        background-repeat: repeat;
        font-family: Arial, Helvetica, sans-serif;
        background-attachment: fixed;
}

#main {
        width: 60%;
        margin: auto;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #024C00;
        background-color: black;
        box-shadow: 3px 2px 5px 0px #024C00;
}
        
h1 {
        font-size: 2em;
		font-family: "Times New Roman", Times, serif;
        margin: 20px 0 5px 0;
        font-weight: bold;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 8px #06b300;
}

#menu {
        margin: 0;
        padding: 0;
		padding-top: 15px;
        height: 35px;
        list-style-type: none;
}

#menu li {
        display: block;
        float: left;
        width: 28%;
        margin-left: 4%;
        border-radius: 5px;
        background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
}

#menu li a {
        display: block;
        border-radius: 5px;
        text-align: center;
        padding: 2px;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        color: black;
}

#menu li a:hover {
        background: linear-gradient(to bottom, rgba(78,113,153,1) 0%,rgba(98,162,214,1) 50%,rgba(98,155,201,1) 51%,rgba(146,193,229,1) 100%);
}

.center  {
	display: block;
    margin-left: auto;
    margin-right: auto
}